<% pending = Transaction.withdraws_and_deposit_pending.select { |t| t.state == "pending" } %>

<% if pending.any? %>
    <% pending.each do |transaction| %>
      <% data = transaction_display_data(transaction) %>
      <% u = User.find(transaction.target_account_id) %>
      <a href="/transactions/info/<%= transaction.id %>" class="transaction-link">
      <%= partial "transaction", data.merge(date: transaction.created_at.strftime("%d %b, %H:%M")) %>

      <div class="transaction-actions">
        <form action="/management/<%= transaction.id %>/reject" method="post"> 
          <button class="action-btn cancel-btn">✕</button>
        </form>
        <form action="/management/<%= transaction.id %>/success" method="post"> 
          <button class="action-btn confirm-btn">✓</button>
        </form>
      </div>
   </div>
   </a>
    <% end %> 
<% else %>
  <p style="text-align: center; margin-top: 2rem;">No hay transacciones pendientes.</p>
<% end %>