<% pending = Transaction.withdraws_and_deposit_pending.select { |t| t.state == "pending" } %>

<% if pending.any? %>
    <% pending.each do |transaction| %>
      <% name = transaction.transaction_type == "withdrawal" ? "Retiro" : "Depósito" %>
      <% amount_class = transaction.transaction_type == "withdrawal" ? "negative" : "positive" %>
      <% sign  = transaction.transaction_type == "withdrawal" ? "-" : "+" %>
      <% u = User.find(transaction.target_account_id) %>
      <%= partial "transaction", {
        icon: sign,
        name: "#{u.name} #{u.last_name}",
        type: name,
        amount_class: amount_class,
        amount: transaction.amount,
        date: transaction.created_at.strftime("%d %b, %H:%M")
      } %>

      <div class="transaction-actions">
        <form action="/management/<%= transaction.id %>/reject" method="post"> 
          <button class="action-btn cancel-btn">✕</button>
        </form>
        <form action="/management/<%= transaction.id %>/success" method="post"> 
          <button class="action-btn confirm-btn">✓</button>
        </form>
      </div>
   </div>
    <% end %> 
<% else %>
  <p style="text-align: center; margin-top: 2rem;">No hay transacciones pendientes.</p>
<% end %>