       <% if !current_user.bank_account.card %>
       <div style = "justify-content: center;">
       <div id="no-card-state" class="no-card-state">
                <h2 class="section-title">No tienes tarjetas activas</h2>
                <p class="intro-text">Solicita tu primera tarjeta para comenzar a disfrutar de todos los beneficios</p>
                <form action="/generar_tarjeta" method="post">
            <button class="request-card-btn"type="submit">Solicitar Tarjeta</button>
            </form>
            </div>
        </div>
       <%else%>
       <div style = "  position: relative;"> 
           <%= partial "card", {
  card_type: "Debito",
  card_number: current_card.card_number,
  card_balance: current_user.bank_account.balance,
  card_exp_month: current_card.exp_month,
  card_exp_year: current_card.exp_year
} %>
</div>
<%end%>
