<div class="chat-only-container">
  <div class="chat-card">
    <div class="chat-header">
      <div class="chat-user-info">
        <div class="chat-avatar">
          A
        </div>
        <div class="chat-user-details">
          <h3>Centro de Ayuda</h3>
          <p>En línea</p>
        </div>
      </div>
      <div class="online-indicator"></div>
    </div>

    <div class="messages-container">
      <% @messages.each do |msg| %>
        <div class="message <%= msg.from_admin ? 'admin' : 'user' %>">
          <div class="message-bubble">
            <%= msg.content %>
            <div class="message-sender">
             <%= msg.created_at.strftime("%d/%m %H:%M") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="chat-input">
      <form action="/chat" method="post" class="input-form">
        <div class="input-wrapper">
          <input type="text" name="content" required placeholder="Escribí tu mensaje..." class="message-input">
        </div>
         <button type="submit" class="close-case-btn">Enviar mensaje</button>
      </form>
    </div>
  </div>
</div>