<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<h1>Iniciar sesión</h1>
<% if params[:goodbye] == 'true' %>
  <p class="goodbye-message" style="margin-bottom: 20px;">¡Tu cuenta fue eliminada con éxito!</p>
<% end %>
<form action="/login" method="post" class="form">
    <label for="dni">DNI o email</label>
    <input type="text" id="dni" name="dni" placeholder="Ingresa tu DNI o email"  pattern="\d{8}" title="8 dígitos sin letras" required><br><br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" placeholder="Introduce tu contraseña" minlength="8" required><br><br>
    <label class="password-toggle">
        <input type="checkbox" id="show-password" onclick="password.type = this.checked ? 'text' : 'password'">
        <span class="toggle-checkbox"></span>
        <span class="toggle-text">Mostrar contraseña</span>
      </label>
    <button type="button" id="login">Iniciar sesión</button>
    <p> ¿Es tu primera vez? <a href="/register">Regístrate</a> ahora</p>
</form>

<script>
  document.getElementById('login').addEventListener('click', function(event) {
    const dni = document.getElementById('dni').value.trim();
    const password = document.getElementById('password').value.trim();

    if (!dni || !password){ //Si no ingresa dni o contraseña
      event.preventDefault();
      if (!document.querySelector('.error-message')){ //Si el mensaje existe, no lo duplica
        const errorMsg = document.createElement('div');
        errorMsg.className = 'error-message';
        errorMsg.style.backgroundColor = '#ffe6e6';
        errorMsg.style.color = '#000000';
        errorMsg.style.fontFamily = 'Arial, sans-serif';
        errorMsg.style.fontSize = '14px';
        errorMsg.style.fontWeight = 'normal';
        errorMsg.style.padding = '10px 15px';
        errorMsg.style.border = '1px solid #cc0000';
        errorMsg.style.borderRadius = '8px';
        errorMsg.style.marginBottom = '15px';
        errorMsg.style.boxShadow = '0 2px 4px rgba(0, 0, 0, 0.1)';
        errorMsg.textContent = 'Por favor completa los campos: DNI y contraseña.';
        const form = document.querySelector('.form');
        form.insertBefore(errorMsg, form.firstChild);
      }
    }else {
      document.querySelector('.form').submit(); //Si ingresa el dni y contraseña
    }
  });
</script>
 

</html>