<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
</head>
<body>

  <div class="split-text" data-text="Bienvenido a virtual wallet"></div>

  <script src="animation_index.js"></script>
</body>
</html>