<html lang="es">
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <h1>Login</h1>
    <div class="form">
      <form action="/register" method="post" id="dniForm">
        DNI: <input type="number" name="dni" id="dni" placeholder="Introduce tu DNI">
        <div id="mensaje"></div> 
        Password: <input type="password" name="pass" placeholder="Introduce tu contraseña">
        <button type="submit" id="submitBtn">Enviar</button>
      </form>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
