<html>
  <head><title>login</title></head>
  <body>

    <h1>login</h1>
    <div class="form">
    <form action="/register" method="post">
    Usuario: <input type="text" name="nombre" placeholder="">
    Password: <input type="password" name="pass" placeholder="">
    <button type="submit">Enviar</button>
    </form>



  </body>
</html>