<div class="transactions-container">
  <h1 class="transactions-title">Transacciones</h1>  
  <div class="transactions-list">
  <% if @transactions.any? %>
    <% @transactions.each do |transaction| %>
      <% data = transaction_display_data(transaction) %>
      <%= partial "transaction", data.merge(date: transaction.created_at.strftime("%d %b, %H:%M")) %>
      </div>
    <% end %>
  <% else %>
    <p>No hay transacciones.</p>
  <% end %>
  </div>
</div>
