<div class="transactions-container">
  <h1 class="transactions-title">Transacciones</h1>  
  <div class="transactions-list">
  <% if @transactions.any? %>
  <% @transactions.each do |transaction| %>
    <%
      if transaction.transaction_type == "deposit"
        amount_display = "#{transaction.amount}"
        sign = '+'
        owner = "Depósito"
        if transaction.state == "success"
           amount_class = "amount-positive"
           type = "finalizado"
        else 
          if transaction.state == "rejected"
          amount_class = "amount-rejected"
          type = "rechazado"
        else
           if transaction.state == "pending"
          amount_class = "amount-pending"
          type = "pendiente"
        end
      end
    end
      else 
        amount_class = "amount-negative"
        amount_display = "-$#{transaction.amount}"
        other_user = transaction.source_account&.user
        sign = other_user&.name&.slice(0)&.upcase || "?"
        owner = other_user ? "#{other_user.name} #{other_user.last_name}" : "Usuario desconocido"
        type = "Transferencia"
      end
    %>

    <%= partial "transaction", {
      icon: sign,
      name: owner,
      type: type,
      amount_class: amount_class,
      amount: amount_display,
      date: transaction.created_at.strftime("%d %b, %H:%M")
    } %>
     </div>
  <% end %>
<% else %>
  <p>No hay transacciones.</p>
<% end %>
  </div>
</div>
