.no-card-state {
  text-align: center;
  justify-content: center; /* Centrado vertical */
  align-items: center;     /* Centrado horizontal */
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
}


.request-card-btn {
  background-color: #66bb6a;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.request-card-btn:hover {
  background-color: #5a9f5e;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-state {
  padding: 20px;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}