<div>
<form action = "/transfer/<%= c.contact %>" method="get">
      <button type="submit" class="contact-button">
<div class="contact">
 <div class="contact-avatar"><%= initials %></div>
 <div class="contact-info">
 <div class="contact-name"><%= name %></div>
 <div class="contact-email"><%= email %></div>
</div>
</button>
</form>
</div>