<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">paystack</a>
            <nav class="nav">
                <a href="/login" class="btn btn-outline">Iniciar sesión</a>
                <a href="/register" class="btn btn-primary">Registrarse</a>
            </nav>
        </div>
    </header>
   <%= yield %> 
</body>
</html>